*.inc
*.o
*.d
*.dll
*.xml
*.mk
*.bash
*.properties
TpGo/bin/Debug/TpGo.exe
TpGo/TpGo.cbp
*.exe
TpGo.cbp
TpGo.depend
TpGo/TpGo.depend
testaffichage/testaffichage/affichageSDL.cpp
testaffichage/testaffichage/affichageSDL.h
testaffichage/testaffichage/goblanc.png
testaffichage/testaffichage/goblancprison.png
testaffichage/testaffichage/gonoir.png
testaffichage/testaffichage/gonoirprison.png
testaffichage/testaffichage/Imagesdebase/cb.bmp
testaffichage/testaffichage/Imagesdebase/goblancprison.pbm
testaffichage/testaffichage/Imagesdebase/gonoir.bmp
testaffichage/testaffichage/Imagesdebase/troll.jpg
testaffichage/testaffichage/definitions.h
testaffichage/testaffichage/Imagesdebase/goblanc.jpg
testaffichage/testaffichage/Imagesdebase/gonoir.jpg
testaffichage/testaffichage/Imagesdebase/terrain.png
testaffichage/testaffichage/main.cpp
testaffichage/testaffichage/partie.cpp
testaffichage/testaffichage/partie.h
testaffichage/testaffichage/terrain.bmp
testaffichage/testaffichage/testaffichage.cbp
testaffichage/testaffichage/testaffichage.depend
testaffichage/testaffichage/testaffichage.layout
testaffichage/testaffichage/troll.png
TpGo/TpGo.depend
testaffichage/testaffichage/Imagesdebase/troll.png
TpGo.layout
bin/Debug/stdout.txt
TpGo.layout
TpGo.layout